In [183]:
import requests
import pandas as pd
import numpy as np
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [270]:
van_bike_data = pd.read_csv("van_bike_data.csv", encoding="unicode_escape")
van_bike_data

     free_bikes                         name                     ll
0            21                10th & Cambie  49.262487,-123.114397
1             9  Yaletown-Roundhouse Station  49.274566,-123.121817
2            13            Dunsmuir & Beatty  49.279764,-123.110154
3             2     12th & Yukon (City Hall)  49.260599,-123.113504
4             9                    8th & Ash  49.264215,-123.117772
..          ...                          ...                    ...
236          11               Heather & 29th  49.245535,-123.120496
237          16             Cardero & Robson  49.289255,-123.132677
238           0            Commercial & 20th  49.252656,-123.067965
239           2               Hornby & Drake  49.277527,-123.129464
240           7               Burrard & 14th  49.259469,-123.145718

[241 rows x 3 columns]

In [293]:
def get_venues(ll):
    url = "https://api.foursquare.com/v3/places/search?"
    headers = {
        "accept": "application/json",
        "Authorization": "fsq3140FVgABKaS75tF4yA3bV3OJJrHATW67KDvk7Swt26Y="
    }
    parametere = {}
    parametere['query'] = 'bar'
    parametere['ll'] = ll
    parametere['radius'] = 1000
    parametere['limit'] = 50    
    parametere['fields']= "name"
    
    response = requests.get(url, headers=headers, params=parametere).json()
    venues=pd.json_normalize(data = response['results'])
    venues['ll']=ll
    return len(venues)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [274]:
no_of_bars=[]
ll_no=[]

dict={"no of bars":no_of_bars,"ll":ll_no}


for i in (van_bike_data['ll']):
    ll_no.append(i)
    no_of_bars.append(get_venues(i))

In [272]:
bars_table=pd.DataFrame(dict)   
bars_table

     no of bars                     ll
0            50  49.262487,-123.114397
1            50  49.274566,-123.121817
2            50  49.279764,-123.110154
3            50  49.260599,-123.113504
4            50  49.264215,-123.117772
..          ...                    ...
236           4  49.245535,-123.120496
237          50  49.289255,-123.132677
238          11  49.252656,-123.067965
239          50  49.277527,-123.129464
240          50  49.259469,-123.145718

[241 rows x 2 columns]

In [275]:
bars_table.to_csv('van_bar_data.csv',index=False)

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [318]:
url = "https://api.yelp.com/v3/businesses/search"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer 06g61i3suCJMcmDLLImqwrBiEwuhmU7TMRZ_9aJXSwhV51vuPppgqRnwRhoDiKpKwo5gCcsfGt1tcVw1HVxQP4KrLLxpZc85Rf1eJDo1g2c3nwhjqu91-HtLNaH6Y3Yx"
}
params={'location':'vancouver','categories':['bar'],'radius':1000}
response = requests.get(url, headers=headers, params=params)

response

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [330]:
import pandas as pd
def get_venues_yelp(ll):
    try:
        ll_list=list(ll.split(","))
        url = "https://api.yelp.com/v3/businesses/search"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer 06g61i3suCJMcmDLLImqwrBiEwuhmU7TMRZ_9aJXSwhV51vuPppgqRnwRhoDiKpKwo5gCcsfGt1tcVw1HVxQP4KrLLxpZc85Rf1eJDo1g2c3nwhjqu91-HtLNaH6Y3Yx"
        }
        params={'latitude':ll_list[0],'longitude':ll_list[1],'term':'bar','radius':1000,'limit':50}
        response = requests.get(url, headers=headers, params=params).json()

        result=response['businesses']
        results_df_summary=pd.DataFrame(result).describe()

        return results_df_summary
    except: 
        nulldata = {'review_count':[0,0], 'rating':[0,0],'distance':[0,0]}
        nulldata_df = pd.DataFrame(nulldata)
        return nulldata_df

test=get_venues_yelp('49.262487,-123.114397')
test

       review_count     rating     distance
count     27.000000  27.000000    27.000000
mean     103.888889   3.703704   889.534711
std      152.713239   0.608581   298.781541
min        1.000000   2.500000   221.483933
25%        8.000000   3.500000   735.667707
50%       44.000000   3.500000   983.901706
75%      129.000000   4.000000  1007.698307
max      591.000000   5.000000  1395.616188

In [309]:
def data_needed(n):
    t= get_venues_yelp(n)
    ll_bar_summary_data={
    'avg_rating':round(t['rating'][1],2),
    'avg_review':round(t['review_count'][1],2),
    'avg_distance':round(t['distance'][1],2),
    'no_of_bars_yelp':int(t['distance'][0]),
    }
    
    return ll_bar_summary_data

test2=data_needed('49.262487,-123.114397')
test2

{'avg_rating': 3.7,
 'avg_review': 103.89,
 'avg_distance': 889.53,
 'no_of_bars_yelp': 27}

In [363]:
list_of_bar_data=[]
ll_data=[]

for i in (van_bike_data['ll']):
    list_of_bar_data.append(data_needed(i))
    ll_data.append(i)

In [364]:
for i in range (len(ll_data)):
    list_of_bar_data[i]["ll"]=ll_data[i]
    

bars_yelp=pd.DataFrame(list_of_bar_data)
bars_yelp

,avg_rating,avg_review,avg_distance,no_of_bars_yelp,ll
0,3.70,103.89,889.53,27,"49.262487,-123.114397"
1,3.59,105.70,538.35,50,"49.274566,-123.121817"
2,3.91,148.94,573.26,50,"49.279764,-123.110154"
3,3.76,84.45,901.41,29,"49.260599,-123.113504"
4,3.45,138.09,640.18,11,"49.264215,-123.117772"
...,...,...,...,...,...
236,4.00,1.00,942.16,1,"49.245535,-123.120496"
237,3.62,143.18,748.56,50,"49.289255,-123.132677"
238,0.00,0.00,0.00,0,"49.252656,-123.067965"
239,3.55,114.24,534.90,50,"49.277527,-123.129464"
240,3.73,77.23,686.08,13,"49.259469,-123.145718"

In [365]:
bars_yelp.to_csv('bars_yelp.csv',index=False)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating