Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
van_bike_data = pd.read_csv("van_bike_data.csv", encoding="unicode_escape")
van_bike_data

     free_bikes                         name                     ll
0            21                10th & Cambie  49.262487,-123.114397
1             9  Yaletown-Roundhouse Station  49.274566,-123.121817
2            13            Dunsmuir & Beatty  49.279764,-123.110154
3             2     12th & Yukon (City Hall)  49.260599,-123.113504
4             9                    8th & Ash  49.264215,-123.117772
..          ...                          ...                    ...
236          11               Heather & 29th  49.245535,-123.120496
237          16             Cardero & Robson  49.289255,-123.132677
238           0            Commercial & 20th  49.252656,-123.067965
239           2               Hornby & Drake  49.277527,-123.129464
240           7               Burrard & 14th  49.259469,-123.145718

[241 rows x 3 columns]

In [ ]:
van_bar_data.csv=pd.read_csv("van_bar_data.csv",encoding="unicode_escape")

In [ ]:
result = pd.merge(left, right, on=["key1", "key2"])

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.