Build a regression model.

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [8]:
data = pd.read_csv('../data/Bike_Foursquare_Yelp.csv')
data

,free_bikes,name,ll,avg_rating,avg_review,avg_distance,no_of_bars_yelp
0,21,10th & Cambie,"49.262487,-123.114397",3.73,100.29,891.97,28
1,9,Yaletown-Roundhouse Station,"49.274566,-123.121817",3.70,98.74,482.66,50
2,13,Dunsmuir & Beatty,"49.279764,-123.110154",3.88,152.90,569.80,50
3,2,12th & Yukon (City Hall),"49.260599,-123.113504",3.78,81.73,902.70,30
4,9,8th & Ash,"49.264215,-123.117772",3.45,138.09,640.18,11
...,...,...,...,...,...,...,...
236,11,Heather & 29th,"49.245535,-123.120496",4.00,1.00,942.16,1
237,16,Cardero & Robson,"49.289255,-123.132677",3.62,146.94,729.72,50
238,0,Commercial & 20th,"49.252656,-123.067965",0.00,0.00,0.00,0
239,2,Hornby & Drake,"49.277527,-123.129464",3.60,129.14,537.85,50
240,7,Burrard & 14th,"49.259469,-123.145718",3.73,77.23,686.08,13

In [9]:
# x: independent variables y:independent variable

X = data[['avg_rating', 'avg_review', 'avg_distance','no_of_bars_yelp']]
y = data['free_bikes']

In [10]:
X = sm.add_constant(X)

In [11]:
model = sm.OLS(y, X).fit()

Provide model output and an interpretation of the results.

In [12]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             free_bikes   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.033
Method:                 Least Squares   F-statistic:                     3.072
Date:                Sun, 26 Feb 2023   Prob (F-statistic):             0.0171
Time:                        21:06:13   Log-Likelihood:                -740.42
No. Observations:                 241   AIC:                             1491.
Df Residuals:                     236   BIC:                             1508.
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               7.0258      2.285      3.075      0.002       2.524      11.528
avg_rating         -0.4218      0.775     -0.544      0.587      -1.949       1.106
avg_review          0.0288      0.012      2.420      0.016       0.005       0.052
avg_distance        0.0007      0.002      0.315      0.753      -0.004       0.005
no_of_bars_yelp     0.0003      0.030      0.009      0.993      -0.060       0.060
==============================================================================
Omnibus:                       30.339   Durbin-Watson:                   1.752
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               38.104
Skew:                           0.884   Prob(JB):                     5.32e-09
Kurtosis:                       3.817   Cond. No.                     4.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Stretch

How can you turn the regression model into a classification model?