In [183]:
import requests
import pandas as pd
import numpy as np
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [184]:
data = pd.read_csv("van_data.csv", encoding="unicode_escape")
data

     free_bikes                         name                     ll
0            21                10th & Cambie  49.262487,-123.114397
1             9  Yaletown-Roundhouse Station  49.274566,-123.121817
2            13            Dunsmuir & Beatty  49.279764,-123.110154
3             2     12th & Yukon (City Hall)  49.260599,-123.113504
4             9                    8th & Ash  49.264215,-123.117772
..          ...                          ...                    ...
236          11               Heather & 29th  49.245535,-123.120496
237          16             Cardero & Robson  49.289255,-123.132677
238           0            Commercial & 20th  49.252656,-123.067965
239           2               Hornby & Drake  49.277527,-123.129464
240           7               Burrard & 14th  49.259469,-123.145718

[241 rows x 3 columns]

In [188]:
def get_venues(ll):
    url = "https://api.foursquare.com/v3/places/search?"
    headers = {
        "accept": "application/json",
        "Authorization": "fsq3140FVgABKaS75tF4yA3bV3OJJrHATW67KDvk7Swt26Y="
    }
    parametere = {}
    parametere['query'] = 'bar'
    parametere['ll'] = ll
    parametere['radius'] = 1000
    parametere['limit'] = 50    
    parametere['fields']= "name"
    
    response = requests.get(url, headers=headers, params=parametere).json()
    venues=pd.json_normalize(data = response['results'])
    venues['ll']=ll
    return len(venues)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [219]:
no_of_bars=[]
ll_no=[]

dict={"no of bars":no_of_bars,"ll":ll_no}


for i in (data['ll']):
    ll_no.append(i)
    no_of_bars.append(get_venues(i))
    
#bars_table=pd.DataFrame(dict)   
#bars_table

In [220]:
bars_table=pd.DataFrame(dict)   
bars_table

     no of bars                     ll
0            50  49.262487,-123.114397
1            50  49.274566,-123.121817
2            50  49.279764,-123.110154
3            50  49.260599,-123.113504
4            50  49.264215,-123.117772
..          ...                    ...
236           4  49.245535,-123.120496
237          50  49.289255,-123.132677
238          11  49.252656,-123.067965
239          50  49.277527,-123.129464
240          50  49.259469,-123.145718

[241 rows x 2 columns]

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating