In [15]:
import requests
import pandas as pd
import numpy as np
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [16]:
 url = "https://api.foursquare.com/v3/places/search?"
headers = {
    "accept": "application/json",
    "Authorization": "fsq3140FVgABKaS75tF4yA3bV3OJJrHATW67KDvk7Swt26Y="
}
parametere = {}
parametere['query'] = 'bar'
parametere['ll'] = '49.262487,-123.114397'
parametere['radius'] = 1000
parametere['limit'] = 50    
parametere['fields']= "name"

response = requests.get(url, headers=headers, params=parametere)
response

In [19]:
#Defining a function to get the total number of  bars with the radius of 1000m for any location by giving the varibale ll ('latitude+longitude')

def get_venues(ll):
    url = "https://api.foursquare.com/v3/places/search?"
    headers = {
        "accept": "application/json",
        "Authorization": "fsq3140FVgABKaS75tF4yA3bV3OJJrHATW67KDvk7Swt26Y="
    }
    parametere = {}
    parametere['query'] = 'bar'
    parametere['ll'] = ll
    parametere['radius'] = 1000
    parametere['limit'] = 50    
    parametere['fields']= "name"
    
    response = requests.get(url, headers=headers, params=parametere).json()
    venues=pd.json_normalize(data = response['results'])
    venues['ll']=ll
    return len(venues)
get_venues('49.262487,-123.114397')

50

In [20]:
# Reading the data from previous CSV to be able to get the data for all locations:

van_bike_data = pd.read_csv('../data/van_bike_data.csv', encoding="unicode_escape")
van_bike_data.head()

   free_bikes                         name                     ll
0          21                10th & Cambie  49.262487,-123.114397
1           9  Yaletown-Roundhouse Station  49.274566,-123.121817
2          13            Dunsmuir & Beatty  49.279764,-123.110154
3           2     12th & Yukon (City Hall)  49.260599,-123.113504
4           9                    8th & Ash  49.264215,-123.117772

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [21]:
no_of_bars=[]
ll_no=[]

dict={"no of bars":no_of_bars,"ll":ll_no}


for i in (van_bike_data['ll']):
    ll_no.append(i)
    no_of_bars.append(get_venues(i))

In [36]:
bars_table=pd.DataFrame(dict)   
bars_table.head()

   no of bars                     ll
0          50  49.262487,-123.114397
1          50  49.274566,-123.121817
2          50  49.279764,-123.110154
3          50  49.260599,-123.113504
4          50  49.264215,-123.117772

In [35]:
bars_table.to_csv('../data/bars_4square.csv',index=False)

Put your parsed results into a DataFrame

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [22]:
url = "https://api.yelp.com/v3/businesses/search"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer 06g61i3suCJMcmDLLImqwrBiEwuhmU7TMRZ_9aJXSwhV51vuPppgqRnwRhoDiKpKwo5gCcsfGt1tcVw1HVxQP4KrLLxpZc85Rf1eJDo1g2c3nwhjqu91-HtLNaH6Y3Yx"
}
params={'location':'vancouver','categories':['bar'],'radius':1000}
response = requests.get(url, headers=headers, params=params)

response

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [30]:
#Defining a function to get a summary results of  bars with the radius of 1000m for any location by giving the varibale ll ('latitude+longitude')

import pandas as pd
def get_venues_yelp(ll):
    try:
        ll_list=list(ll.split(","))
        url = "https://api.yelp.com/v3/businesses/search"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer 06g61i3suCJMcmDLLImqwrBiEwuhmU7TMRZ_9aJXSwhV51vuPppgqRnwRhoDiKpKwo5gCcsfGt1tcVw1HVxQP4KrLLxpZc85Rf1eJDo1g2c3nwhjqu91-HtLNaH6Y3Yx"
        }
        params={'latitude':ll_list[0],'longitude':ll_list[1],'term':'bar','radius':1000,'limit':50}
        response = requests.get(url, headers=headers, params=params).json()

        result=response['businesses']
        results_df_summary=pd.DataFrame(result).describe()

        return results_df_summary
    except: 
        nulldata = {'review_count':[0,0], 'rating':[0,0],'distance':[0,0]}
        nulldata_df = pd.DataFrame(nulldata)
        return nulldata_df

In [25]:
#Defining a function to extract some of the results of any given location that are important for us:

def data_needed(n):
    t= get_venues_yelp(n)
    ll_bar_summary_data={
    'avg_rating':round(t['rating'][1],2),
    'avg_review':round(t['review_count'][1],2),
    'avg_distance':round(t['distance'][1],2),
    'no_of_bars_yelp':int(t['distance'][0]),
    }
    
    return ll_bar_summary_data

In [26]:
#Iterating through the different locations to collect the desired data into a dictionary:

list_of_bar_data=[]
ll_data=[]

for i in (van_bike_data['ll']):
    list_of_bar_data.append(data_needed(i))
    ll_data.append(i)

Put your parsed results into a DataFrame

In [28]:
# Adding the ll data to the dictionary
# Converting dictonary to a DataFrame

for i in range (len(ll_data)):
    list_of_bar_data[i]["ll"]=ll_data[i]    

bars_yelp=pd.DataFrame(list_of_bar_data)
bars_yelp.head()

,avg_rating,avg_review,avg_distance,no_of_bars_yelp,ll
0,3.73,100.29,891.97,28,"49.262487,-123.114397"
1,3.70,98.74,482.66,50,"49.274566,-123.121817"
2,3.88,152.90,569.80,50,"49.279764,-123.110154"
3,3.78,81.73,902.70,30,"49.260599,-123.113504"
4,3.45,138.09,640.18,11,"49.264215,-123.117772"

In [31]:
#Exporting the DF as a CSV to data folder
bars_yelp.to_csv('../data/bars_yelp.csv',index=False)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

I am answering this question after going through the EDA process in the 3rd step. According to EDA, Yelp data are better distributed so more reliable than 4square. By looking at the Distribution table of the number of bars in each location, we can conclude that we should continue our analytsis with Yelp information. Belowe are the distribution tables for for 4square and yelp respectively:

![4square distribution data](../images/no_of_bars_square.png)

![yelp distribution data](../images/no_of_bars_yelp.png)

Apart from that, Yelp provides more detailed information about ratings, number of comments, location and many more information.